:root {
	--basic-font: 'Work Sans', 'arial', sans-serif;

	--bg: #ffffff;
	--main-color: rgb(92, 184, 92);
	--input-text-color: #55595c;
	--standart-white: #ffffff;

	--nav-link-color: rgba(0, 0, 0, 0.3);
	--nav-link-active-color: rgba(0, 0, 0, 0.8);
	--nav-link-hover-color: rgba(0, 0, 0, 0.6);

	--standart-side-padding: 20px;
}
