.nav {
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	gap: 20px;
}

.nav__link {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row-reverse;
	gap: 5px;

	font-family: var(--basic-font);
	color: var(--nav-link-color);
	font-size: 16px;

	text-decoration: none;
	cursor: pointer;

	&:hover {
		color: var(--nav-link-hover-color);

		& > svg > path {
			fill: var(--nav-link-hover-color);
		}
	}

	& > svg > path {
		fill: var(--nav-link-color);
	}
}

.nav-link--active {
	color: var(--nav-link-active-color);
}

.nav__user-img {
	width: 30px;
	height: 30px;
	border-radius: 100%;
}
