.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 20px;
}

.nav__link {
	font-family: var(--basic-font);
	color: var(--nav-link-color);
	font-size: 16px;

	text-decoration: none;
	cursor: pointer;

	&--active {
		color: var(--nav-link-active-color);
	}

	&:hover {
		color: var(--nav-link-hover-color);
	}
}
